<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_IRCloneManagementService" />
            </netNamedPipeBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://localhost/com.Dwragge.RCloneClientService"
                binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IRCloneManagementService"
                contract="ServiceReference1.IRCloneManagementService" name="NetNamedPipeBinding_IRCloneManagementService">
                <identity>
                    <userPrincipalName value="DESKTOP-4587BO8\dylan" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>
