<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_IService" />
            </netNamedPipeBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://localhost/com.Dwragge.RsyncClientService"
                binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IService"
                contract="ServiceClient.IService" name="NetNamedPipeBinding_IService">
                <identity>
                    <servicePrincipalName value="host/DESKTOP-L9BN0GT" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>